.nav-cart{background-color:#d4c2b7;  color:#fff;}

footer{
    
    background-color:#b49b92;
}

.list-group-item{
    
    background-color:#d4c2b7;
}

.list-group-item a{
    color:#fff!important;
}